.reviews-container {
    max-width: 1000px;
    margin: auto;
    margin-top:10%;
    color: #414146;
    padding: 0 20px;
    position: static;
    width: 100%;
}

.review-table {
    border-spacing: 0px;
    width: 100%;
}

.review-table th {
    padding: 10px 20px 10px 10px;
    background: lightgray;
    border-bottom: 1px solid darkgray;
    text-align: left;
}

.review-table td {
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid darkgray;
    text-align: left;
}

.review-form {
    width: 600px;
    margin: 15px 0;

}

.review-form h2 {
    margin-bottom: 10px;
}

.review-form .submit-btn {
    width: auto;
    margin: 0;
}

.rating-stars {
    display: flex;
    justify-content: left;
    gap: 4px;
 }
  
.star {
    cursor: pointer;
    font-size: 22px;
    transition: color 0.2s ease;
    color: #a3a3a3;

}
  
.star.filled {
    color: #ffb400;
}