.reports-container {
    max-width: 1000px;
    margin: auto;
    margin-top:10%;
    color: #414146;
    padding: 0 20px;
    position: static;
    width: 100%;
}

.reports-table {
    border-spacing: 0px;
    width: 100%;
}

.reports-table th {
    padding: 10px 20px 10px 10px;
    background: lightgray;
    border-bottom: 1px solid darkgray;
    text-align: left;
}

.reports-table td {
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid darkgray;
    text-align: left;
}

.reports-table .btn {
    text-align: center;
}